/*            Main accueil STYLE          */

.container-sm-modif{
    width: 35%;

   
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse ;
       
    

    
}
.container-ssm-modif{
    width: 45px;
    display: flex;
    gap: 10px 20px;

}
.schearch{
    
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: baseline;
    
   
    max-width: 93rem;
    margin: 0 auto;
    
}
.sell{
    width: 150px;
    margin-left: 30px;
}
.navbar{
    background-color: #198EF5 ;
}


/*              FOOTER STYLE              */


.footer{
   /* position: absolute;*/
    left: 0;
    bottom: 0;
    width: 100%;
   
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #198EF5;
    flex-direction: column;



}
.footer-color{
background-color: white;
display: flex;
    justify-content: space-evenly;
}
.footer-color-copyright{
   
 background-color: white;
 margin: auto;
}
.container-fuid{
    margin-left: 3%;
}
.header-separ{
    margin-top: 3%;
}
